@import "general.css";

.glow-shadow
{
    transition: 0.2s;

    background: rgba(30, 60, 120, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border: 1px solid rgba(120, 180, 255, 0.35);

    box-shadow:
    0 0 15px rgba(80, 140, 255, 0.25),
    inset 0 0 15px rgba(80, 140, 255, 0.15);
}