@import "../../CSS/general.css";

project-main
{
    display: block;
    margin:2rem;
}

@media (max-width: 600px)
{
    project-main
    {
        margin-left : 1.5rem;
        margin-right: 1.5rem;
    }
}

@media (min-width: 600px)
{
    project-main
    {
        margin-left : 5rem;
        margin-right: 5rem;
    }
}