@import "../../CSS/general.css";

header
{
    position: fixed;
    z-index: 100;
    width:100%;

    display: flex;
    background-color: var(--nav-color);
    align-items: center;
    padding:1rem;
}

header h2
{
    display: block;
    text-align: left;
    margin-right:auto;
    padding-left:1rem;
    align-self: center !important;
}

header a
{
    display: block;
    font-size: x-large;
    text-decoration: none;
    text-align: right;
    margin-left:auto;
    padding-right:1rem;
}

@media (max-width: 600px)
{
    #LongReturn{display: none;}
    #ShortReturn{display: block;}
}

@media (min-width: 600px)
{
    #LongReturn{display: block;}
    #ShortReturn{display: none;}
}

#return
{
    display: block;
    text-align:center;
    justify-self: center;
    text-decoration: none;
    border-radius: 15px;
    border-color: rgba(255, 255, 255, 0.1);
    border-width: 1px;
    border-style: solid;
    margin:1rem;
    padding:10px;
}